body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#addBookMark{
    display: none;
    padding: 10px;
    position: relative;
    width: 500px;
    margin: auto;
}
.container-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: bisque;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#container-title-close{
    padding: 20px 20px;
}
.container-input{
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.model{
    display: flex;
    flex-direction: column;
}
h3{
   padding-left: 10px;
}
.input{
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    gap: 10px;
}
input{
    height: 40px;
    border: 1px solid bisque;
    border-radius: 5px;
}
#btn-save{
    border: none;
    border-radius: 5px;
    width: 100px;
    padding: 10px 10px;
    background-color: bisque;
}
#btn-addBookMark{
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 10px 10px;
    background-color: bisque;
}
a{
    text-decoration: none;
}
.bookMark{
    border-radius: 5px;
    width: 150px;
    padding: 10px 10px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#bookmarkList{
    display: flex;
    gap:30px;
}
