#background {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    gap: 30px;
}
img {
    width: 200px;
    height: 200px;
}