input{
    margin: auto;
    width: 500px;
    height: 40px;
    
}
#form{
    position: relative;
    width: 500px;
}
#show{
    position: absolute;
    top: 15px;
    right: 5px;
}
#hide{
    position: absolute;
    top: 15px;
    right: 5px;
}
