#search{
    margin-top: 30px;
    width: 90%;
}
body{
    padding: 10px;
}
.card-img-top{
    width: 100%;
    height: 200px;
}
#card{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}