body{
    background-color: rgb(244, 242, 239);
}
h1{
    text-align: center;
}
#dish1{
    display: flex;
    flex-direction: row ;
    gap: 20px;
    border: none;
    width: 300px;
    justify-content: center ;
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
img{
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#infordish1{
    line-height: 10px;
}
.likeButton{
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}
#dish2{
    margin-top: 30px;
    display: flex;
    flex-direction: row ;
    gap: 20px;
    border: none;
    width: 300px;
    justify-content: center ;
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
#dish3{
    margin-top: 30px;
    display: flex;
    flex-direction: row ;
    gap: 20px;
    border: none;
    width: 300px;
    justify-content: center ;
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
#infordish2{
    line-height: 10px;
}
#infordish3{
    line-height: 10px;
}