body{
    align-items: center;
    margin: auto;
    background-color: rgb(206, 205, 205);
    text-align: center;
}
h1{
    text-align: center;
}
#container{
    border: 1px solid white;
    border-radius: 10px;
    line-height: 30px;
    background-color: white;
    width: 300px;
    height: 100%;
    margin: auto;
}
input{
    height: 25px ;
    margin-top: 20px;
}
.btn-Add{
    background-color: rgb(1, 171, 1);
    border-radius: 5px;
    border: 1px solid rgb(1, 171, 1);
    line-height: 25px;
    margin-left: 30px;
    margin-top: 20px;
}
.task{
    list-style: none;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    width: 250px;
    margin-bottom: 5px;

}
ul li {
    position: relative;
}
#close {
    position: absolute;
    top: 0;
    right: 25px;
    border-radius: 7px;
    background-color: red;
    padding: 1px 10px;
    color: white;
}
